/* Task 1 */
.list{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.list-title{
    padding: 10px;
}

/* Task 2.2 */
.container{
    border: 1px solid green;
    padding: 20px;
    margin: 5px;
}
.info{
    font-size: 18px;
    letter-spacing: 2px;
    max-width: 800px;
    width: 100%;
}
.title{
    color: green;
    font-size: 20px;
    letter-spacing: 5px;
}
.photo{
    border: 1px solid green;
    padding: 10px;
}
.photo:hover{
    box-shadow: 0px 5px 10px black;
}

/* Task 2.3 */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 225, 225, 0.3);
    width: 450px;
    height: 720px;
    border: 1px solid black;
    margin: 10px;
    overflow: hidden;
}
.item:hover{
    box-shadow: 0 5px 10px black;
}

.item-info{
    padding: 0 10px;
    flex: 1 1 auto;
}

.item-img{
    max-width: 200px;
    width: 100%;
    max-height: 300px;
    height: 100%;
}
/* Task 3.1 */
.product-container{
    display: flex;
    margin: 10px;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    background-color: rgba(230, 225, 225, 0.3);
    border: 1px solid black;
    padding: 10px;
    margin: 5px;  
}

.product-card:hover{
    box-shadow: 0 5px 10px black;
}

.product-title{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.product-image{
    width: 200px;
    height: 200px;
}