form {
    font-size: 1.1rem;
    margin: 5px 5px 25px;
}

label {
    margin: 5px 0 5px;
}
input{
    display: block;
    font-size: 1.1rem;
}


input#input_1::placeholder,
input#input_2::placeholder,
input#input_3::placeholder{
    font-size: 0.9rem;
}

button {
    background-color: red;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px 0;
}
button#submit{
    margin-top: -15px;
}

table {
    font-size: 1.2rem;
    border-spacing: 0;
    margin: 10px 0;
}

td{
    border: 1px solid black;
    padding: 10px;
}