:root{
  
    --primary-color: #000;
    --secondary-color: rgb(253, 0, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: rgb(102, 101, 101);
   padding: 40px 0;
}

.user-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    height: 100px;
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
    box-shadow: 0 5px 10px var(--primary-color);
    padding: 10px 7px; 
    margin: 10px 10px; 
}
.user-container > div {
    flex: 1;
}
.user-container > div > span:first-of-type{
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 20px;
}

.user-container > div > span:last-of-type{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.user-container > .link-container{
    align-self: flex-end;
    margin-top: auto;
}
.user-container > .link-container {
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 7px;
}

.user-container > div:first-of-type > span:last-of-type{
    position: relative;
    color: #fff;
    font-weight: 700;
    z-index: 2;
    text-align: center;
}

.user-container > div:first-of-type > span:last-of-type::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -14px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    z-index: -1;
}

 /* DETAIL */

.user-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}
 .detail-container{
     width: 60%;
     border: 1px solid var(--primary-color);
     box-shadow: 0 5px 10px var(--primary-color);
     padding: 10px;
     margin: 5px;
 }

 .posts-btn { 
     background-color: var(--secondary-color);
     border-radius: 3px;
     padding: 10px;
     margin: 5px;
 }
 .posts-btn a{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    color:#fff;
 }


 .posts-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     margin: 10px;
 }

 .post-content{ 
     max-width: 200px;
     width: 100%;
     height: 200px;
     display: flex;
     flex-direction: column;
     border: 1px solid var(--primary-color);
     box-shadow: 0 5px 10px var(--primary-color);
     padding: 10px;
     margin: 10px;
 }
 .post-content > a {
    background-color: var(--secondary-color);
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color:#fff;
    justify-self: end;
    align-self: flex-end;
    padding: 10px;
    margin-top: auto;
 }