:root{
  
    --primary-color: #000;
    --secondary-color: rgb(253, 0, 0);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   background-color: rgb(102, 101, 101);
   padding: 40px 0;
}

.user-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 500px;
    height: 100px;
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
    box-shadow: 0 5px 10px var(--primary-color);
    padding: 10px 7px; 
    margin: 10px 10px; 
}
.user-container > div {
    flex: 1;
}
.user-container > div > span:first-of-type{
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 20px;
}

.user-container > div > span:last-of-type{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary-color);
}

.user-container > .link-container{
    align-self: flex-end;
    margin-top: auto;
}
.user-container > .link-container {
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 3px;
    font-weight: 600;

}

.user-container > div:first-of-type > span:last-of-type{
    position: relative;
    color: #fff;
    font-weight: 700;
    z-index: 2;
    text-align: center;
}

.user-container > div:first-of-type > span:last-of-type::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -14px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    z-index: -1;
}